.footer {
  
        position: relative;
        margin-top: auto; 
    

}

.footer li {
    display: inline-block; 
    margin-right: 10px; 
}


.footer a {
    text-decoration: none; 
    color: black; 
}